*{
    margin: 0;
    padding: 0;
}
.first{
    display: flex;
    flex-direction: column;
    height: 130px;
    width: 100%;
    background-color: black;
    font-size: 25px;
}
.logo{
    color: white;
    text-align: center;
    
}
.nav1{
    display: inline-block;
    text-align: center;
    padding: 25px;
}
.nav1 ul li{
    list-style: none;
    display: inline-block;
}